<div class="container mt-4">
  <h1 class="text-center">Cerca i tuoi prodotti alimentari</h1>

  <div class="row">
    <div class="col-12">
      <input [(ngModel)]="searchQuery" class="form-control" placeholder="Cerca per nome (es. pizza)" (input)="onSearch()">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12" *ngFor="let product of products">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title" (click)="onProductClick(product.code)">
            <a class="text-decoration-none">{{ product.product_name || 'Nome non disponibile' }}</a>
          </h5>
          <p class="card-text">
            <img [src]="product.image_url" alt="Immagine prodotto" class="img-fluid" width="100">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
